.wrapper {
  width: 50%;
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 20px;
}

.input {
  padding: 10px;
  width: 300px;
  border-radius: 100px;
}

.listBoxContainer {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
}

.listBoxItem {
  background-color: black;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
}

.activeItem {
  background-color: #d4cdcd;
  color: black;
}
